{% extends "main.html" %} {% block tabs %} {{ super() }}
<link rel="stylesheet" href="assets/stylesheets/base.css" />
<link rel="stylesheet" href="assets/stylesheets/home.css" />
<section class="hero" style="background-color: #003087;">

  <div class="md-grid">
    <div class="hero-teaser md-typeset">
      <h1>Quality Assurance Framework for Data Linkage</h1>
      <p>
        A framework to help <b>manage</b> and <b>assure</b> the quality of data
        linkage processes.
      </p>
      <a class="md-button md-button--primary"  href="quality-assurance-framework/introduction/" style="background-color: #005EB8; color: #FFFFFF;"> Get started with the framework</a>
      <a class="md-button" href = "team-intro" style="color: #212B32; background-color: #FAE100;">
        Learn more about the team
      </a>
    </div>
  </div>
</section>
<section class="feature" style="background-color: #F0F4F5;">

  <div class="feature-item md-typeset" style="display: flex; justify-content: center; align-items: center; height: fit-content; padding: 15px 30px;">
    <a class="md-button" href="https://github.com/nhsengland/quality-assurance-framework-for-data-linkage/issues/new?assignees=&labels=&projects=&template=send-feedback-on-the-quality-assurance-framework-for-data-linkage.md&title=/" >
      <h1 style="text-align: center;">Contact us!</h1>
      <p style="text-align: center;">We welcome all feedback on the Quality Assurance Framework for Data Linkage</p>
    </a>
  </div>


</section>
{% endblock %}
{% block content %} {% endblock %}
